<script>
	$(function(){
		$('body').addClass('login_bg');
	});
</script>

  <% devise_flash_error %>

<div id="login">
	<div class="inner clearfix">
		<h3>Forgot your password?</h3>
		  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		  <div><%= f.email_field :email, :autofocus => true, :class => 'tip textfield', :title => "Enter your email" %></div>

		  <div class="pull-right" style="margin-right:-8px;">
	          <div class="btn-group">
	            <button type="submit" class="btn" id="button_login">Reset Password</button>
           		<%= render "devise/shared/links" %>
	          </div>
           </div>
		<% end %>
	</div>	
</div>