<div class="widget">
	<div class="widget-header"><span><i class="icon-camera"></i>Images</span></div>
	<div id="thumb_gallery">
		<% @images.each do |image| %>
		  	<%= image_tag image.info.thumb.url, :class => 'thumb_drag', :title => image.id %>
		<% end %>
	</div>
</div>