<script src="/edit_study.js"></script>

<div class="container">
<div class="span4" id="study_form">
<h2>Edit study</h2>
	<%= render 'form' %>

</div>
<div class="span6 offset5 heading clearfix">
	<%= render 'image_draggables'%>
</div>

</div>