<script src="/edit_study.js"></script>

<div class="container">
<div class="span4">
<h2>Create a new study</h2>
	<%= render 'form' %>

</div>
<div class="span6 offset1 heading clearfix">
	<%= render 'image_draggables'%>
</div>

</div>