.gallery_row {
	margin-top:20px;
	margin-bottom:20px;
}

.thumb_box {
	text-align: center;
}

.thumb {
	border: 8px #cccccc solid;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}