#studies th, #studies td {
	text-align: center;
}

#studies td .label {
	font-size: 14px;
	padding: 5px 12px;
	display: inline-block;
}

#add_study {
	margin-top: 15px;
}

.pair_droppable {
	width: 120px;
	height: 120px;
	border: 1px #cccccc solid;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin: 2px 5px;
	
	border-radius: 3px;
	-webkit-border-radius: 3px;
}

#pairs { 
	list-style-type: none; 
	margin: 0; 
	padding-right:25px;
}
 
#pairs li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em;
	cursor: move;
	border: 1px #777777 solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #eeeeee;
}

.pairs_placeholder {
	height: 50px;
}

.thumb_drag {
	width: 100px;
	height: 100px;
	border: 4px #cccccc solid;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 8px;
}

.thumb_div {
	text-align: center;
	overflow: hidden;
	width:120px;
	padding: 0px 5px;
	display: inline-block;
}

.thumb_dropped {
	width:100px;
	height:100px;
}

#thumb_gallery {
	padding-left: 10px;
}

#study_form {
	position: fixed;
	overflow-y: scroll; 
	overflow-x: hidden;
	height:80%;
}

#study_form .half_input {
	display: inline-block;
	width: 48%;
}

#study_form .half_input input {
	display: inline-block;
	width: 92%;
}

#study_form .full_input {
	display: block;
	width: 93%;
}

#study_form .box_input {
	display: block;
	width: 93%;
	height: 80px;
}

#study_form label {
	font-weight: bold;
}

#study_form .checkbox_label {
	display: inline-block;
	font-weight: normal;
	margin: 8px 0;
}

#study_form #study_randomize {
	width: 15px;
	height: 15px;
	margin-bottom: 2px;
}

#study_info b {
	width: 120px;
	display: inline-block;
	margin: 3px;
	font-size:16px;
}
